.page {
	padding: 24px;
	max-width: 400px;
	margin: 0 auto;

	display: flex;
	flex-direction: column;
	gap: 32px;
}

.head {
	display: flex;
	justify-content: space-between;
}

.button {
	transition: opacity 0.7s;
	cursor: pointer;

	&:hover {
		opacity: 0.7;
	}
}

.title {
	font-size: 24px;
	color: #121212;
}

.post__list {
	padding: 12px;
	border-radius: 10px;
	background-color: #f7f7f7;
	border: 1px solid #f7f7f7;

	display: flex;
	flex-direction: column;
	gap: 12px;

	&--viewed{
		background-color: transparent;
		border-color: #e6e6e6;

		.post__info {
			color: #888888;
		}
	}
}

.post__header {
	display: flex;
	justify-content: space-between;
}

.post__category-list {
	display: flex;
	gap: 8px;
}

.post__date {
	color: #888888;
	font-size: 14px;
}

.post__info {
	font-size: 16px;
	line-height: 1.4em;
	color: #121212;
}

.post__category {
	padding: 8px 12px;
	font-size: 12px;
	border-radius: 50px;

	&--1 {
		color: #f46f17;
		background-color: #f7e9e1;
	}

	&--2 {
		color: #ef5da8;
		background-color: #f6e8ef;
	}
}

.tabs {
	display: flex;
	justify-content: space-between;
	gap: 12px;
	border-bottom: silver;
}

.tab__item{
	color: silver;
	border-bottom: 1px solid silver;

	&--active{
		color: black;
		border-bottom: 1px solid black;
		font-weight:  bold;
	}
}

a{
	text-decoration: none;
}

.buttons {
	margin-bottom: 24px;
	color: white;
	gap: 24px;
	padding: 24px;
	background-color: orange;
	height: 100%;
	min-height: 300px;
	width: 100%;
	min-width: 340px;
	border-radius: 12px;
}

.post__content{
	display: grid;
	gap:24px;
	margin-bottom: 48px;
}

.post__title {
	margin-top: 12px;
	font-weight: bold;
}